/*
 * Buttons
 */

.button > a,
a.button,
input[type=submit] {
  transition: all .3s;
  display: inline-block;
  color: $secondary-color;
  letter-spacing: 2px;
  padding: 10px 30px;
  border: 2px solid $secondary-color;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 5px;
  box-shadow: none;
  @include font-size($base-font-size);
  font-weight: 600;

  &:focus{
    outline: none;
  }
  &:after{
    content: "";
    // display: inline-block;
    display: none;
    width: 8px;
    transform: rotate(-45deg);
    height: 8px;
    margin-left: 10px;
    margin-bottom: 0px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}
.button > a:hover,
a.button:hover,
input[type=submit]:hover,
.button:focus  {
  background-color: $secondary-color;
  color: #fff;
  text-decoration: none;
}

.button > a.external,
a.button.external{
  &:after{
    // content:none;
        border: none;
    transform: none;
        width: 15px;
    height: 15px;
  }
}

.node-type-webform input[value=Upload] {
  @include font-size($base-font-size);
}