#block-views-related-content-block {
    > h2 {
        padding-top: 30px;
        border-top: 1px solid #d2d3e7;
        margin: 30px 0;
        font-size: 30px;
        line-height: 35px;

        > a {
            font-size: 16px;
            line-height: 35px;

            &:before {
                content: '+'
            }
        }
    }

    .view-id-related_content.view-display-id-block {
        .view-header {
            display: none;
        }

        .view-content {
            .views-row {
                @include from(tablet-l) {
                    @include column(1/3);
                }
            }
        }

        @extend %styleRelatedContentNodes;
    }   
}

#content .view-id-related_content.view-display-id-page_1 {
    @extend %styleRelatedContentNodes;

    .view-header {
        // margin: 0 0 40px;
        text-align: center;


        h2 {
            margin: -40px 0 40px;
        }
    }

    .view-content {
        .views-row {
            @include from(tablet-l) {
                max-width: 340px;
                display: inline-block;
                vertical-align: top;
                margin: 0 15px;
            }
        }
    }
}

%styleRelatedContentNodes {
    .view-content {
        .views-row {
            position: relative;
            margin-bottom: 30px;

            .node {
                box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
                .field {
                    margin: 0;
                }

                .field.field-name-field-news-date {
                    position: absolute;
                    width: 50px;
                    height: 86px;
                    margin-top: -43px;
                    background: transparent url(../images/icon-date-bg.png) no-repeat 0 0;
                    color: #fff;
                    @include font-size(12);
                    text-align: center;
                    padding-top: 25px;
                    line-height: 1.4;
                    left: 15px;

                    word-spacing: 50px;
                    text-transform: uppercase; 

                    span.date-display-single{
                        color: #fff;
                    }
                }

                .field-name-title {
                    padding: 30px 30px 0 30px;

                    h2 {
                        @include font-size(22);
                        margin: 0 0 40px;

                        a {
                            text-decoration: none;
                            color: #1c4188;

                            &:hover {
                                color: darken(#1c4188, 10%);
                            }
                        }
                    }
                }

                .field-name-field-topic-term {
                    padding: 0 30px 30px;
                    text-transform: uppercase;
                    @include font-size(12);
                    position: relative;

                    &:before {
                        position: absolute;
                        top: -20px;
                        left: 30px;
                        content: '';
                        width: 80px;
                        height: 2px;
                        background: #d2d3e7;
                    }
                }

                .field-name-field-card-image {
                    img {
                        vertical-align: middle;
                    }
                }

                &.node-news-article {
                    .field-name-title {
                        padding: 60px 30px 0 30px;
                    }
                }

            }
        }
    }
}
