/*

 _________________  _____      _____      _____           _____          _____         _____          ____        _____    ____   ____  _____      _____
/                 \|\    \    /    /| ___|\    \     ____|\    \     ___|\    \    ___|\    \    ____|\   \   ___|\    \  |    | |    ||\    \    /    /|
\______     ______/| \    \  /    / ||    |\    \   /     /\    \   /    /\    \  |    |\    \  /    /\    \ |    |\    \ |    | |    || \    \  /    / |
   \( /    /  )/   |  \____\/    /  /|    | |    | /     /  \    \ |    |  |____| |    | |    ||    |  |    ||    | |    ||    |_|    ||  \____\/    /  /
    ' |   |   '     \ |    /    /  / |    |/____/||     |    |    ||    |    ____ |    |/____/ |    |__|    ||    |/____/||    .-.    | \ |    /    /  /
      |   |          \|___/    /  /  |    ||    |||     |    |    ||    |   |    ||    |\    \ |    .--.    ||    ||    |||    | |    |  \|___/    /  /
     /   //              /    /  /   |    ||____|/|\     \  /    /||    |   |_,  ||    | |    ||    |  |    ||    ||____|/|    | |    |      /    /  /
    /___//              /____/  /    |____|       | \_____\/____/ ||\ ___\___/  /||____| |____||____|  |____||____|       |____| |____|     /____/  /
   |`   |              |`    | /     |    |        \ |    ||    | /| |   /____ / ||    | |    ||    |  |    ||    |       |    | |    |    |`    | /
   |____|              |_____|/      |____|         \|____||____|/  \|___|    | / |____| |____||____|  |____||____|       |____| |____|    |_____|/
     \(                   )/           \(              \(    )/       \( |____|/    \(     )/    \(      )/    \(           \(     )/         )/
      '                   '             '               '    '         '   )/        '     '      '      '      '            '     '          '
	/* ICOMOON */
	@font-face {
	  font-family: 'icomoon';
	  src:  url('../fonts/icomoon.eot?eo3vry');
	  src:  url('../fonts/icomoon.eot?eo3vry#iefix') format('embedded-opentype'),
	    url('../fonts/icomoon.ttf?eo3vry') format('truetype'),
	    url('../fonts/icomoon.woff?eo3vry') format('woff'),
	    url('../fonts/icomoon.svg?eo3vry#icomoon') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

	@mixin font-icon($icon) {
		/* use !important to prevent issues with browser extensions that change fonts */
	  font-family: 'icomoon' !important;
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;

		$space: ' ';
		/*==== the icon ====*/
		 content: $space$icon !important;
	}
	$icon-link-external: '\e900';
/*
    //    / /
   //___ / /  ___      ___      ___   / ( )   __      ___      ___
  / ___   / //___) ) //   ) ) //   ) / / / //   ) ) //   ) ) ((   ) )
 //    / / //       //   / / //   / / / / //   / / ((___/ /   \ \
//    / / ((____   ((___( ( ((___/ / / / //   / /   //__   //   ) )
*/

body, h1, h2, h3, h4, h5, p, a, li, table {
	font-family: $base-font-family;
}
h1, h2, h3, h4, h5{
	font-family: $heading-font-family;
	color: $secondary-color;
	font-weight: normal;
	margin: 30px 0;
}
h1{
    color: #154c91;
    @include font-size(55);
    font-weight: 500;
    text-align: center;
}
h2{
	@include font-size(32);
	color: #154c91;
	// color: $primary-color-lighter;
	margin-top: 50px;
    // text-align: center;
}
h3{
	@include font-size(22);
	color: #154c91;
	margin-top: 30px;
    // text-align: center;
}

/*

     ______    ____             ______        ______  _______        ______  _____   ______   _________________      ______
 ___|\     \  |    |        ___|\     \      |      \/       \   ___|\     \|\    \ |\     \ /                 \ ___|\     \
|     \     \ |    |       |     \     \    /          /\     \ |     \     \\\    \| \     \\______     ______/|    |\     \
|     ,_____/||    |       |     ,_____/|  /     /\   / /\     ||     ,_____/|\|    \  \     |  \( /    /  )/   |    |/____/|
|     \--'\_|/|    |  ____ |     \--'\_|/ /     /\ \_/ / /    /||     \--'\_|/ |     \  |    |   ' |   |   ' ___|    \|   | |
|     /___/|  |    | |    ||     /___/|  |     |  \|_|/ /    / ||     /___/|   |      \ |    |     |   |    |    \    \___|/
|     \____|\ |    | |    ||     \____|\ |     |       |    |  ||     \____|\  |    |\ \|    |    /   //    |    |\     \
|____ '     /||____|/____/||____ '     /||\____\       |____|  /|____ '     /| |____||\_____/|   /___//     |\ ___\|_____|
|    /_____/ ||    |     |||    /_____/ || |    |      |    | / |    /_____/ | |    |/ \|   ||  |`   |      | |    |     |
|____|     | /|____|_____|/|____|     | / \|____|      |____|/  |____|     | / |____|   |___|/  |____|       \|____|_____|
  \( |_____|/   \(    )/     \( |_____|/     \(          )/       \( |_____|/    \(       )/      \(            \(    )/
   '    )/       '    '       '    )/         '          '         '    )/        '       '        '             '    '
        '                          '                                    '
*/
p{
	@include font-size(16);
}
#content{
	p{
		line-height: 24px;
	}
}
a{
	color: $primary-color-lighter;
	&:hover{
		color: $secondary-color;
		text-decoration: underline;
	}
	&:visited{
		color: $primary-gray-text;
	}
}
a.external{
	&:after{
		// content:"";
		// display: inline-block;
		// width: 15px;
		// height: 15px;
		// background: no-repeat center url("../images/external-link-symbol.svg");
		// background-size: contain;
		@include font-size(14);
		@include font-icon($icon-link-external);
	}
}
hr{
	border: 1px solid #d2d3e7;
	margin: 60px 0;
}
blockquote{
	color: $primary-color-lighter;
	font-weight: bold;
	background-color: $light-bg-color;
	text-align: center;
	font-size: 1.4em;
	padding: 45px;
	padding-top: 100px;
	margin: 0;
	position: relative;
	line-height: 30px;
	margin-top: 40px;
    margin-bottom: 40px;
	&:before{
		content:"";
		display: block;
		width: 60px;
		height: 60px;
		background: no-repeat center url("../images/quote.svg");
		position: absolute;
		left: 50%;
		top: 20px;
		transform: translateX(-50%);
	}
	p{
		margin: 0px;
	}
}
div.important{
	color: #ffffff;
	background-color: #0066b3;
	padding: 40px;

	// font-size: 1.3em;

	ul {
		#content & {
			list-style-image: url(../images/icon-list-white.png);
		}
	}
}


div.important-light-blue {
	color: #000;
	background-color: #c9e0f5;
	padding: 40px;
}


p.large-text {
	@include font-size(22);
	color: #1c4188;
}

a.external {
	padding-right: 20px;

	&:after {
	    content: '' !important;
	    position: absolute;
	    display: inline;
	    width: 1.2em;
	    height: 1.2em;
	    background-repeat: no-repeat;
	    background-position: right 0.4em;
	    border-bottom: 1px solid transparent;
	    background-image: url(../images/external-link-symbol.svg);
	    background-size: 0.9em auto;
	}
}

table{
	max-width: 100%;
}
table.small-only{
	display: table;
	margin: auto;
	tr{
		border: 1px solid #000;
		td{
			text-align: center;
			border: 1px solid #000;
		}
	}
}
table.large-only{
	display: none;
}
@include from('desktop-mid'){
	table.small-only{
		display: none;
	}
	table.large-only{
		display: table;
	}
}

.field-label{
	font-size: 1.68em;
    line-height: 1.16667em;
    margin-top: 0.41667em;
    margin-bottom: 0.41667em;
    color: #143f88;
    font-weight: bold;
}

span.file{
	display: inline-block;
	img, a{
		display: inline-block;
	}
}
input {
    max-width: 100%;
}
img{
	display: inline-block;
}
#content{
	ul{
		margin-top: 30px;
		margin-left: 30px;
		list-style-image: url('../images/icon-list.png');

		li{
			// margin-bottom: 5px;
		}
	}
}
textarea:focus, input:focus{
    outline: none;
}


/*

 _________________       ____         _____    ____             ______                 _____          _____              _____           _____  _____   ______   _________________      ______  _____   ______   _________________      ______
/                 \ ____|\   \   ___|\     \  |    |        ___|\     \           ____|\    \    ____|\    \         ___|\    \     ____|\    \|\    \ |\     \ /                 \ ___|\     \|\    \ |\     \ /                 \ ___|\     \
\______     ______//    /\    \ |    |\     \ |    |       |     \     \         /     /\    \  |    | \    \       /    /\    \   /     /\    \\\    \| \     \\______     ______/|     \     \\\    \| \     \\______     ______/|    |\     \
   \( /    /  )/  |    |  |    ||    | |     ||    |       |     ,_____/|       /     /  \    \ |    |______/      |    |  |    | /     /  \    \\|    \  \     |  \( /    /  )/   |     ,_____/|\|    \  \     |  \( /    /  )/   |    |/____/|
    ' |   |   '   |    |__|    ||    | /_ _ / |    |  ____ |     \--'\_|/      |     |    |    ||    |----'\       |    |  |____||     |    |    ||     \  |    |   ' |   |   '    |     \--'\_|/ |     \  |    |   ' |   |   ' ___|    \|   | |
      |   |       |    .--.    ||    |\    \  |    | |    ||     /___/|        |     |    |    ||    |_____/       |    |   ____ |     |    |    ||      \ |    |     |   |        |     /___/|   |      \ |    |     |   |    |    \    \___|/
     /   //       |    |  |    ||    | |    | |    | |    ||     \____|\       |\     \  /    /||    |             |    |  |    ||\     \  /    /||    |\ \|    |    /   //        |     \____|\  |    |\ \|    |    /   //    |    |\     \
    /___//        |____|  |____||____|/____/| |____|/____/||____ '     /|      | \_____\/____/ ||____|             |\ ___\/    /|| \_____\/____/ ||____||\_____/|   /___//         |____ '     /| |____||\_____/|   /___//     |\ ___\|_____|
   |`   |         |    |  |    ||    /     || |    |     |||    /_____/ |       \ |    ||    | /|    |             | |   /____/ | \ |    ||    | /|    |/ \|   ||  |`   |          |    /_____/ | |    |/ \|   ||  |`   |      | |    |     |
   |____|         |____|  |____||____|_____|/ |____|_____|/|____|     | /        \|____||____|/ |____|              \|___|    | /  \|____||____|/ |____|   |___|/  |____|          |____|     | / |____|   |___|/  |____|       \|____|_____|
     \(             \(      )/    \(    )/      \(    )/     \( |_____|/            \(    )/      )/                  \( |____|/      \(    )/      \(       )/      \(              \( |_____|/    \(       )/      \(            \(    )/
      '              '      '      '    '        '    '       '    )/                '    '       '                    '   )/          '    '        '       '        '               '    )/        '       '        '             '    '
                                                                   '                                                       '                                                               '
*/
.toc-filter{
	padding: 10px 0px;
	border-bottom: 4px solid $primary-color-lighter;
	// @include title-bar($secondary-color, before, 0);
	&:before{
		left: 0;
		transform: none;
	}
	.item-list{
		ul{
			margin-left: 0px;
		}
	}
	.toc-filter-content{
		padding: 0px;
		background-color: transparent;
		border: none;
		h3{
			color: $primary-color-lighter;
			@include font-size(24);
			font-weight: normal;
			text-align: left;
			margin: 20px 0;
		}
		ul{
			margin-left: 0px;
			li{
				list-style-type: none;
				a{
					color: $primary-color-lighter;
					font-weight: bold;
					@include font-size(16);
				}
			}
		}
	}
}

.toc-bookmark{
	display: block;
	padding-top: 150px;
    margin-top: -150px;
    @include from(desktop-mid){
		padding-top: 200px;
    	margin-top: -200px;
    }
}
.empty-anchor{
	@extend .toc-bookmark;
}



